* {
  margin: 0;
  padding: 0;
}
.all {
  background-image: url("component/도트 메타몽.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 200px auto;
  background-position: top left;
  margin: 0;
  width: 100%;
  height: 4500px;
}
.all img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#scroll {
  background-color: indigo;
  border-radius: 25%;
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
}
.logo img {
  width: 150px;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  display: block;
}
.headerBar {
  margin-top: 10px;
  width: 500px;
  height: 35px;
  font-weight: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.8rem;
}
.headerBar a {
  text-align: center;
  text-decoration: none;
  color: mediumpurple;
  width: 500px;
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}
.headerBar a:hover {
  background-color: lightgrey;
  color: indigo;
}
.menu {
  position: fixed;
  margin-top: 15%;
  margin-left: 93%;
  width: 80px;
  height: 500px;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  will-change: transform;
  z-index: 1000;
}
.menu div {
  text-align: center;
  line-height: 130px;
  width: 60px;
  height: 130px;
}

.information {
  background-color: whitesmoke;
  display: flex;
  position: relative;
  margin: 30px;
  justify-content: space-around;
  align-items: center;
  width: 1500px;
  height: 500px;
}

.info-image {
  width: 300px;
  height: 300px;
  margin: 30px;
  border-radius: 50%;
}

.info-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.scroll-object {
  transform: translateX(-30%); /* 처음에 왼쪽 밖에 있음 */
  opacity: 0;
  transition: all 1s cubic-bezier(0.25, 0.25, 0.5, 1); /* 자연스럽고 부드럽게 */
}

.scroll-object.animate {
  transform: translateX(0); /* 중앙으로 이동 */
  opacity: 1;
}

.info-text {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: first baseline;

  text-align: center;
  color: blueviolet;
  font-weight: 500;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#info {
  background-color: whitesmoke;
  border: 1px solid blueviolet;
  border-radius: 20px 20px 0 0;
  transition: background-color 0.3s, color 0.3s;
}
#page01 {
  background-color: whitesmoke;
  border: 1px solid blueviolet;
  border-top: none;
  transition: background-color 0.3s, color 0.3s;
}
#page02 {
  background-color: whitesmoke;
  border: 1px solid blueviolet;
  border-top: none;
  transition: background-color 0.3s, color 0.3s;
}
#page03 {
  background-color: whitesmoke;
  border-radius: 0 0 20px 20px;
  border: 1px solid blueviolet;
  transition: background-color 0.3s, color 0.3s;
  border-top: none;
}
#info:hover,
#page01:hover,
#page02:hover,
#page03:hover {
  background-color: rgb(217, 183, 255);
  color: indigo;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.main01 {
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: black;
  line-height: 650px;
  color: aliceblue;
  overflow: hidden;
}
.fade-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2.5s ease-in-out;
  opacity: 0;
  z-index: 0;
  object-position: center;
}
.fade-img.active {
  opacity: 1;
  z-index: 1;
}
.main02 {
  border: 2px solid rebeccapurple;
  background-color: whitesmoke;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1500px;
  height: 1500px;
}
.main02 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: block;
}

#skill01,
#skill02,
#skill03,
#skill04,
#skill05,
#skill06 {
  width: 400px;
  margin-top: 30px;
  height: 400px;
  line-height: 100px;
  background-color: thistle;
  border: 1px solid slateblue;
}
.main03 {
  /*background-color: blueviolet;*/
  width: 1500px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.gaugeContainer {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gaugeBar {
  border-radius: 10px;
  background-color: snow;
  width: 400px;
  height: 40px;
  border: 1px solid rgb(222, 222, 223);
}
.gauge {
  transition: width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: mediumpurple;
  width: 1px;
  height: 40px;
  border-radius: 10px;
}

.gauge.animate-html {
  width: 300px;
}

.gauge.animate-css {
  width: 300px;
}

.gauge.animate-js {
  width: 300px;
}
.gauge.animate-sql {
  width: 340px;
}
.gauge.animate-spring {
  width: 270px;
}
.gauge.animate-oracle {
  width: 260px;
}

.gaugeImage {
  flex: 0 0 100px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border: 1px solid blueviolet;
}
.main04 {
  width: 100%;
  height: 200px;
}
