* {
  margin: 0;
  padding: 0;
}
.all {
  background-color: black;
  width: 100%;
  height: 3000px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  background-color: teal;
  width: 200px;
  height: 100px;
  margin-top: 10px;
}
.headerBar {
  margin: 10px;
  margin-left: 15px;
  margin-right: 40px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.8rem;
}
.headerBar a {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}
.menu {
  position: fixed;
  margin-top: 100px;
  margin-left: 90%;
  width: 80px;
  height: 500px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
.menu div {
  text-align: center;
  line-height: 130px;
  width: 60px;
  height: 130px;
}

#name {
  background-color: darkcyan;
  border: 1px solid black;
  border-radius: 20px 20px 0 0;
}
#page01 {
  background-color: darkcyan;
  border: 1px solid black;
}
#page02 {
  background-color: darkcyan;
  border: 1px solid black;
}
#page03 {
  background-color: darkcyan;
  border: 1px solid black;
  border-radius: 0 0 20px 20px;
}
#name:hover,
#page01:hover,
#page02:hover,
#page03:hover {
  background-color: black;
}
.main {
  width: 100%;
  height: 800px;
  background-color: oldlace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
