* {
  margin: 0;
  padding: 0;
}
.all {
  background-color: black;
  width: 100%;
  height: 3000px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  background-color: teal;
  width: 200px;
  height: 100px;
  margin-top: 10px;
}
.headerBar {
  margin-top: 10px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.8rem;
}
.headerBar a {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  width: 500px;
  height: 100px;
  line-height: 100px;
  background-color: brown;
}
.headerBar a:hover {
  background-color: tomato;
  color: black;
}
.menu {
  position: fixed;
  margin-top: 140px;
  margin-left: 93%;
  width: 80px;
  height: 500px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
.menu div {
  text-align: center;
  line-height: 130px;
  width: 60px;
  height: 130px;
}

#name {
  background-color: darkcyan;
  border-radius: 20px 20px 0 0;
}
#page01 {
  background-color: darkcyan;
}
#page02 {
  background-color: darkcyan;
}
#page03 {
  background-color: darkcyan;
  border-radius: 0 0 20px 20px;
}
#name:hover,
#page01:hover,
#page02:hover,
#page03:hover {
  background-color: black;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.main01 {
  margin: 20px;
  width: 100%;
  height: 800px;
  background-color: slateblue;
  line-height: 650px;
}
.main02 {
  margin: 30px;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 300px;
}
#skill01,
#skill02,
#skill03,
#skill04,
#skill05,
#skill06 {
  margin: 30px;
  width: 400px;
  height: 100px;
  line-height: 100px;
  background-color: aquamarine;
  border: 1px solid red;
}
#skill01 img,
#skill02 img,
#skill03 img,
#skill04 img,
#skill05 img,
#skill06 img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
